/* General */
html {
  font-family: Quicksand, sans-serif;
}

.container {
  width: 90%;
  padding-left: 10px;
  
}

h6 {
  color: #78909c;

}

/* Header */


.nav-wrapper  {
  color: #2A3132;
}

#invite {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 20px;

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip :hover .tooltiptext {
    visibility: visible;
    transition: 1s;
}

#invite:hover {
  color: orange;
  transition: .5s;
}

#delete {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 75px;

}

#delete:hover {
  color: orange;
  transition: .5s;
}

button {
  float: right;
}

/* Input Field */
#message {
  padding-left: 20px;
  font-size: 18pt;
  width: 90%;

}

/* Footer */
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


#sendMessage {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  padding-top: 7px;
  width: 44px;
  height: 44px;
}

#sendMessage:hover {
  className: orange;
  transition: .5s;

}

/* Convo Section */
#messageArea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row {
  margin: auto;
}

/* Decoy Convo */
#messageArea2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#decoyMessages {
  font-size: 14pt;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 65vh;
}

#messages {
  font-size: 14pt;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: auto;
  padding-bottom: 100px;
  height: 65vh;

}

.bubble {
  border-radius: 5px !important;

}

@media only screen and (max-width : 730px) {

  #logo {
    position: static;
    font-size: 22px;
    margin-left: 220px;
  }

  #invite {
    font-size: 14px;
    margin-right: 15px;
  }

  #delete {
    font-size: 14px;
    margin-right: 20px;
  }

  #messageArea {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  #messageArea2 {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  .container {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width : 530px) {

  #logo {
    position: static;
    font-size: 18px;
    margin-left: 150px;
  }

  #invite {
    font-size: 14px;
    margin-right: 15px;
  }

  #delete {
    font-size: 14px;
    margin-right: 20px;
  }

  #messageArea {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  #messageArea2 {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  .container {
    margin: 0 auto;
    width: 100%;
  }

  #message {
    margin-right: 10px;
    width: 85%;
  }
}

@media only screen and (max-width : 530px) {

  #logo {
    position: static;
    font-size: 18px;
    margin-left: 100px;
  }

  #invite {
    font-size: 14px;
    margin-right: 15px;
  }

  #delete {
    font-size: 14px;
    margin-right: 20px;
  }

  #messageArea {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  #messageArea2 {
    width: 95%;
    padding-right: 20px;
    padding-left: 0;
  }

  .container {
    margin: 0 auto;
    width: 100%;
  }

  #message {
    margin-right: 10px;
    width: 85%;
  }
}

/*Media queries!!*/