/* General */
html {
  font-family: Quicksand, sans-serif;
}

.container {
  width: 90%;
  padding-left: 10px;
}

h6 {
  color: #2196f3;
}

/* Header */
#logo {
  font-weight: bold;
}

.nav-wrapper  {
  color: #2A3132;
}

#invite {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 20px;

}

#save {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 75px;

}

button {
  float: right;
  
}

button:hover {
  color: orange;

}

/* Input Field */
#message {
  padding-left: 20px;
  font-size: 18pt;
  width: 90%;
  

}

/* Footer */
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bubble {
  border-radius: 25px !important;
}

#sendMessage {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  padding-top: 7px;
  width: 44px;
  height: 44px;
}

/* Convo Section */
#messageArea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row {
  margin: auto;
}

/* Decoy Convo */
#messageArea2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#decoyMessages {
  font-size: 14pt;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 65vh;
}

#messages {
  font-size: 14pt;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 65vh;
}



