/* General */
html {
  font-family: Quicksand, sans-serif;
}

.container {
  width: 90%;
  padding-left: 10px;
}

h6 {
  color: #2196f3;
}

/* Header */
#logo {
  font-weight: bold;
}

.nav-wrapper  {
  color: #2A3132;
}

/* Input Section */
#message {
  padding-left: 20px;
  font-size: 18pt;
}
.bubble {
  border-radius: 25px !important;
}

#sendMessage {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  padding-top: 7px;
  width: 44px;
  height: 44px;
}

/* Convo Section */
#messageArea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row {
  margin: auto;
}

/* Decoy Convo */
#messageArea2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#messages {
  font-size: 18pt;
  padding-left: 25px;
  padding-right: 25px;
}

.page-footer {

}
